body {
    font-family: "Montserrat", sans-serif;
    background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    font-style: normal;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

.section-paddings {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* =========== MENU WINDOW ============ */

.mobile-menu-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    height: 100%;

    background-color: #1E1823;

    opacity: 0;
    visibility: hidden;
    transition: opacity 350ms ease-in, visibility 350ms ease-in;
}

.mobile-menu-backdrop.is-open {
    opacity: 1;
    visibility: visible;
}

.menu-close-button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.mobile-menu-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 136px auto auto 20px;
    color: #FFFFFF;
}

.current-link {
    color: #FD9222;
}

.mobile-menu-nav-list-item {
    font-weight: 500;
    font-size: 36px;
    line-height: 110%;
    letter-spacing: -0.02em;
}

.social-media {
    position: absolute;
    display: flex;
    gap: 18px;
    bottom: 20px;
    left: 20px;
}

/* =========== HEADER NAVIGATION =========== */

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    /* position: fixed;
    z-index: 10;
    background-color: #FFFFFF; */
}

.logo {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #111111;

    display: flex;
    align-items: center;
    gap: 4px;
}

.logo-span {
    font-style: italic;
}

.nav-div-logo {
    width: 21px;
    height: 21px;
}

.logo-icon {
    fill: none;
}

.nav-button-menu {
    border: none;
    background-color: transparent;
    line-height: 0;
    padding: 0;
    stroke: #111111;
}


/* ============== SECTION ONE - HERO =============== */

.hero {
    background-color: #1E1823;
    border-radius: 30px;
    margin-bottom: 54px;
    background-image: 
    url(../images/phone-img/background-image.jpg),
    linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4));
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-resolution: 192dpi) {
    .hero {
        background-image:
            url(../images/phone-img/background-image.jpg),
            linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4));
    }
}

.hero-content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 395px;
    max-width: 295px;
    padding-bottom: 20px;
}

.hero .title {
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%; 
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.hero .button-1 {
    border-radius: 100px;
    margin-right: 14px;
    padding: 12px 28px;
    border: none;
    background-color: #FD9222;
    color: #FFFFFF;
}

.hero .button-2 {
    border-radius: 100px;
    padding: 12px 28px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    color: #FFFFFF;
}

.button-div {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.hero-button-scroll-down {
    font-weight: 500;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    
    display: flex;
    align-items: center;
    gap: 12px;
}

/* .icon-scroll-down-use {
    min-width: max-content;
    min-height: max-content;
} */

.button-scroll-down {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    line-height: 0;
    background-color: #FFFFFF;
    fill: #FD9222;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* ============= SECTION TWO ============== */

.benefits {
    background-color: #1E1823;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.benefits-item .title {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 18px;
    color: #ffffff;
    text-align: start;
}

.benefits-item .text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
}

.benefits-icon {
    width: 62px;
    height: 62px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 365px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 22px;
}

/* ============= SCTION THREE - INGREDIENTS ============= */

.title {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
    text-align: center;
    color: #111111;
    padding-bottom: 24px;
}

.title-span {
    color: #FD9222;
}

.ingredients .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    padding-bottom: 34px;
}

.ingredients-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ingredients-item-content {
    padding: 28px 55px 25px 55px;
}

.ingredients-item {
    margin-left: 20px;
    margin-right: 20px;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid #FD9222;
    color: #111111;
}

.ingredients-list .orange {
    background-color: #FD9222;
    color: #FFFFFF;
    border: none;
}

.ingredients-list .dark-purple {
    background-color: #1E1823;
    color: #FFFFFF;
    border: none;
}

.ingredients-item .title {
    padding-bottom: 28px;
    padding-left: 28px;
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: justify;
    color: inherit;
}

/* ============= SECTION FOUR - HOW IT'S MADE? =============== */

.video {
    background-color: #1E1823;
    border-radius: 15px;
    background-image:
        url(../images/phone-img/how-its-made.jpg),
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-size: cover;
    background-repeat: no-repeat;

    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    position: relative;
}

@media screen and (min-resolution: 192dpi) {
    .video {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url(../images/phone-img/how-its-made@2x.jpg);
    }
}

.video-pause-svg-container {
    border: 1px solid white;
    border-radius: 50%;
    padding: 11px 8px 9px 13px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    display: flex;
}

.try-chocolate-container {
    background-color: white;
    border-radius: 15px;
    padding: 20px 14px;
    margin-top: 20px;
}

.bold-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    margin-bottom: 20px;
}

.recept-of-chocolate {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-left: 14px;
}

.recept-of-chocolate li {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
}

/* ============ SECTION FIVE - REVIEWS ============ */

.container-for-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 48px;
}

.comment {
    background-color: white;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    text-align: center;
    padding: 56px 18px 42px 18px;
}

.clients-photo {
    position: absolute;
    top: -40px;
}

.clients-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    padding-bottom: 24px;
}

.text-comment {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}

.scroll-bar-list {
    display: flex;
    padding-top: 20px;
    gap: 13px;
}

.circles-scroll-bar {
    background-color: rgba(17, 17, 17, 0.1);
    width: 13px;
    height: 13px;
    border-radius: 8px;
}

.current-scroll-bar {
    background-color: #FD9222;
    width: 28px;
}

.leave-a-review-btn {
    display: block;
    margin: 32px auto;
    border: 1px solid #FD9222;
    border-radius: 100px;
    padding: 12px 28px;

    font-weight: 600;
    font-size: 14px;
}

/* ============= FOOTER ============== */

.footer {
    background-color: #1E1823;
    color: #ffffff;
}

.footer .title {
    color: #ffffff;
    text-align: start;
    font-weight: 500;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
}

.footer-address-container::after {
    content: '';
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    max-width: 335px;
    margin-bottom: 32px;
    margin-top: 32px;
    display: block;
}

.footer-contact-us-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    padding-bottom: 14px;
}

.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
}

.padding-four {
    padding-bottom: 4px;
}

.ancher-links {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.02em;
    margin-bottom: 32px;
}

.footer-subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 32px;
}

#email {
    border: 1.50px solid rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    padding: 14px 18px;
    background-color: transparent;
    min-width: 207px;
    color: #FFFFFF;
}

.footer-button {
    border-radius: 100px;
    padding: 14px 26px;
    background-color: #FD9222;
    cursor: pointer;
    border: none;
    width: 120px;

    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
}